:root {
  --header-color: #BCC4DB;
  --navbar-color: #7880B5;
  --content-color1: #6987C9;
  --content-color2: #6BBAEC;
  --footer-color: #C0A9B0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 24px;
  width: 100vw;
  text-shadow: grey 0 0 1px;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 { margin: 0; padding: 0; }
ul, li { list-style: none; margin: 0; padding: 0; }
a, a:visited { color: inherit; text-decoration: none; }

header { text-align: center; }

ul.horiz {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: stretch;
}

ul.horiz li {
  flex: 1;
  text-align: center;
}

.holder-100 {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
}

.holder-80 {
  box-sizing: border-box;
  width: 100%;
  padding: 0 20%;
  margin: 0;
}

.spacer {
  display: block;
  height: 1em;
}

.has-background {
  position: relative;
}

.has-background .cover {
  position: relative;
  padding: 1em 3em;
  z-index: 1;
}

.has-background .cover span {
  padding: 0.2px 1.5px;
  border-radius: 1px;
  background-color: rgba(244, 243, 242, 0.6);
}

.has-background > .bg-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  filter: blur(1px);
  padding: 0;
  margin: 0 auto;
  box-shadow: white 0 0 2px;
}

#navbar-wrapper {
  display: block;
  height: 2em;
}

#navbar {
  position: relative;
  background-color: var(--navbar-color);
}

footer {
  text-align: center;
  background-color: var(--footer-color);
}

.clean-list li {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.clean-list li * {
  flex: 1 1;
  padding: 0 0.5rem;
}

.clean-list li *:first-child {
  flex: 1 0;
}

.clean-list li:first-child {
  border-bottom: solid black 1px;
}

nav ul {
  font-size: 1.4rem;
  padding: 0 0.5rem;
}

nav ul li a {
  display: block;
  width: 100%;
  padding: 1rem 0;
}

nav ul li a:hover {
  background-color: rgba(224,223,222,0.3);
}

#site-title {
  background-color: var(--header-color);
  padding: 1rem 0;
}

#site-title .sub { font-size: 1.8rem; }

#main section:nth-child(2n) { background-color: var(--content-color1); }
#main section:nth-child(2n+1) { background-color: var(--content-color2); }

section.main {
  min-height: 30vh;
}

section > * {
  box-sizing: border-box;
  padding: 1rem 3rem;
}
